/vendor
/node_modules
/public/storage
/public/vendor
/public/stats.html
/public/documentation
Homestead.yaml
Homestead.json
.env
clients.xlsx
/.idea
/.vagrant
Vagrantfile
/public/css/**/*
/public/js/**/*
/public/fonts
/public/img
/public/rkesa/**/*
/public/docs/*
/public/invoices/*
/public/pdfjsWorker.js
/bower_components
/public/mix-manifest.json
/resources/views/vendor/**/*
/public/webmail
/public/*.worker.js
/public/img/logo.png
/public/*.js.map
/config/dashboard.php
# /storage/oauth-private.key
# /storage/oauth-public.key
/resources/assets/js/vue-i18n-locales.generated.js
/resources/lang/pt/client.php
/resources/lang/ru/client.php
/resources/lang/en/client.php
/resources/lang/es/client.php
/resources/lang/pt/estimate.php
/resources/lang/ru/estimate.php
/resources/lang/en/estimate.php
/resources/lang/es/estimate.php
/resources/lang/pt/estimate_fork.php
/resources/lang/ru/estimate_fork.php
/resources/lang/en/estimate_fork.php
/resources/lang/es/estimate_fork.php
/resources/lang/pt/calendar.php
/resources/lang/ru/calendar.php
/resources/lang/en/calendar.php
/resources/lang/es/calendar.php
/resources/lang/pt/hr.php
/resources/lang/ru/hr.php
/resources/lang/en/hr.php
/resources/lang/es/hr.php
/resources/lang/pt/service.php
/resources/lang/ru/service.php
/resources/lang/en/service.php
/resources/lang/es/service.php
/resources/lang/pt/dashboard.php
/resources/lang/ru/dashboard.php
/resources/lang/en/dashboard.php
/resources/lang/es/dashboard.php
/resources/lang/pt/email.php
/resources/lang/ru/email.php
/resources/lang/en/email.php
/resources/lang/es/email.php
/resources/lang/pt/calendar_extended.php
/resources/lang/ru/calendar_extended.php
/resources/lang/en/calendar_extended.php
/resources/lang/es/calendar_extended.php
/resources/lang/pt/project.php
/resources/lang/ru/project.php
/resources/lang/en/project.php
/resources/lang/es/project.php
/resources/lang/pt/gantt.php
/resources/lang/ru/gantt.php
/resources/lang/en/gantt.php
/resources/lang/es/gantt.php
/resources/lang/pt/expences.php
/resources/lang/ru/expences.php
/resources/lang/en/expences.php
/resources/lang/es/expences.php
/resources/assets/js/components/passport
/public/0.js
/docker_data/mysql/*
/docker_data/nginx/logs/*
/public/calendar.js
/public/client.js
/public/dashboard.js
/public/estimate.js
/public/project.js
/public/settings.js
/public/gantt.js
public/client~settings.js
public/vendors~calendar.js
public/vendors~client~settings.js
public/vendors~dashboard.js
public/vendors~pdfjsWorker.js
public/vendors~settings.js
public/vendors~gantt.js
/public/images/vendor
app/Http/Helpers/session.madeline
app/Http/Helpers/session.madeline.lock
public/madeline.phar
public/madeline.phar.version
public/MadelineProto.log
resources/lang/es/project.php
resources/lang/*